@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
    @apply bg-gray-100 text-black;
}

body{
    font-family: 'Montserrat', sans-serif;   
}

h1, h2 {
    font-family: 'Kanit', sans-serif;
}

.dropdown label::after {
    display: inline-block;
    margin-left: 0.5em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.menu, footer {
    background-color: #004A65 ;
    color: #d4d4d4;
}
